header {
	background-color: #052849;
	padding: 1rem 2.5rem;
}
.logo {
	width: 140px;
}

.wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}
@media screen and (min-width: 720px) {
	.wrapper {
		flex-direction: row;
	}
}

.side {
	width: 100%;
}
@media screen and (min-width: 720px) {
	.side {
		width: auto;
		min-width: 240px;
		max-width: 380px;
		margin-right: 0;
		flex: 25% 1 auto;
	}
}

.product-info img {
	display: block;
	margin: 0 auto;
}
.product-info h2 {
	text-align: center;
	margin-bottom: .5rem;
}
.product-info h3 {
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	color: var(--grey-medium);
	max-width: 250px;
	margin: 0 auto .5rem;
}

.tags {
	border: 1px solid var(--grey-lightest);
	border-width: 1px 0;
}

.side nav a {
	font-size: 14px;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	color: var(--grey-medium);
	text-decoration: none;
	padding: 1rem .25rem;
}
.side nav a svg {
	vertical-align: middle;
	margin-right: .5rem;
}
.side nav a.on {
	color: #000;
}
.side nav a.on svg {
	color: var(--brand-blue);
}

.page {
	width: 100%;
}

@media screen and (min-width: 720px) {
	.page {
		width: auto;
		flex: 75% 1 0;
	}
}
