header {
	background-color: #052849;
	padding: 1rem 1.5rem;
}
.logo {
	width: 140px;
}

.wrapper {
	display: flex;
}

.side {
	width: 240px;
	padding: .5rem;
	margin: 1rem;
	background-color: #fff;
}
.side nav a {
	display: block;
}
