.sales-table {
	width: 100%;
}
.sales-table th {
	color: var(--gray-dark);
	text-align: left;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0.25rem 0 1rem;
	cursor: pointer;
}
.sales-table th svg {
	vertical-align: middle;
}
.sales-table td {
	color: var(--gray-medium);
	border-top: 1px solid #eee;
	padding: 1rem 0;
}

.svg-text {
	text-transform: uppercase;
	font-weight: 400;
	fill: var(--gray-medium);
}
